* {
color: #ececec;
font-family: Roboto,'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.main {
    background-color: #212121;
    display: flex;
}

/* index.css / global.css */
html, body {
  height: 100%;
  margin: 0;
   overflow: hidden;
}

/* .app {
  display: flex;
  height: 100vh;
  background: #1e1e1e;
} */
